*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hover-gradient {
  background-image: linear-gradient(to right, #e81db5, #3b3b3b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.3s ease;
}

/* Hover effect to reveal the gradient text */
.hover-gradient:hover {
  /* Shift the background to create a reveal effect */
  background-position: 100% 0;
}

.html {
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #faf3f3;
  color: #000;
  opacity: 1;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 2;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #0e0e0e;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #10668a;
  font-weight:600;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 1;
  }
  .hel{
    display: block;
  }
  .hel1{
    margin-top: 7.5%;
    margin-bottom: 7.5%;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 800;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: -100;
  }
  

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
 body{
     font-family: 'Roboto', sans-serif;
}
 h1{
     text-align: center;
     color: #4181ee;
}

.wrapper{
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 10px;
}
 .card{
    max-width: 300px;
     min-height: 250px;
     background: #02b875;
     padding: 30px;
      border-radius: 3px;
     box-sizing: border-box;
     color: #FFF;
     margin:20px;
      box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
 .card:nth-child(2){
    background: #4181ee;
}
 .card:last-child{
    background: #673ab7;
}
 .card-title{
     margin-top: 0;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1.2px;
}
 .card-content{
     font-size: 14px;
     letter-spacing: 0.5px;
     line-height: 1.5;
}
 .card-btn{
     all: unset;
     display: block;
     margin-left: auto;
     border: 2px solid #FFF;
     padding: 10px 15px;
     border-radius: 25px;
     font-size: 10px;
     font-weight: 600;
     transition: all 0.5s;
     cursor: pointer;
     letter-spacing: 1.2px;
}
 .card-btn:hover{
    color:#02b875;
    background: #FFF;
}
 .card:nth-child(2) .card-btn:hover{
    color:#4181ee;
    background: #FFF;
}
 .card:last-child .card-btn:hover{
    color:#673ab7;
     background: #FFF;
}


.loader {
  perspective: 1000px;
  color:linear-gradient(to right, #e81db5, #3b3b3b);
  -webkit-perspective: 1000px;
}
.loader > span {
  display: inline-block;
  color: linear-gradient(to right, #e81db5, #3b3b3b);
  transform-style: preserve-3d;
  transform-origin: 0 100%;
  animation: anim 10s infinite linear;
}

@keyframes anim {
  20% {
    transform: rotateY(-5deg);
    transform: rotateX(-35deg);
  }
  70% {
    transform: rotateX(35deg);
    transform: rotateY(-5deg);
  }
}


@media only screen and (max-width: 768px) {
  .error_sub_heading{
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 22px;
  }

  .error_header{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .error_text{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 39px;
  }

  .error_wrapper{
    padding-top: 159px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 294px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .error_image{
    max-width: 214px;
    height: auto;
    width: 100%;
  }

  .error_image_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 39px;
  }

  .error_go_back_button{
    display: flex;
    margin-right: 0px;
    max-width: none;
    width: 100%;
    color: #986F4A;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #986F4A;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .error_button{
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 6px;
    background: #986F4A;
    border: none;
    margin-left: 0px;
    max-width: none;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .error_link_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .error_go_back_button_wrapper{
    width: 100%;
  }

  .error_button_form{
    width: 100%;
  }

  .error_go_back_button_wrapper{
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 768px) {
  .error_header{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .error_text{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 39px;
  }

  .error_wrapper{
    padding-top: 159px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 294px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .error_image{
    max-width: 214px;
    height: auto;
    width: 100%;
  }

  .error_image_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 39px;
  }

  .error_go_back_button{
    display: flex;
    margin-right: 12.5px;
    max-width: 237px;
    width: 100%;
    color: #986F4A;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 6px;
    border: 1px solid #986F4A;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .error_button{
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 6px;
    background: #986F4A;
    border: none;
    margin-left: 12.5px;
    max-width: 237px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .error_link_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .error_go_back_button_wrapper{
    width: 50%;
  }

  .error_button_form{
    width: 50%;
  }

  .error_go_back_button_wrapper{
    display: flex;
    justify-content: flex-end;
  }
  .error_sub_heading{
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 22px;
  }
}